div.ngxImageZoomContainer {
  height: 500px !important;
}

.tableFixHead {
  // overflow-y: auto;
  // height: 100px;
  height: 630px;
  overflow: scroll;
}

.tableHead {
  height: auto;
  overflow: scroll;
  max-height: 200px;
}

.max-width-150 > td {
  width: 75px !important;
  word-break: break-all;
}
// .modal-dialog{
//     margin-right: 50%;
// }

// .tableFixHead thead th {
//     position: sticky;
//     top: 0;
// }
// table {
//     border-collapse: collapse;
//     width: 100%;
// }
// th,
// td {
//     padding: 8px 16px;
// }
// th {
//     background: #eee;
// }
.title {
  background: lightgreen;
  color: black;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

input {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.cat {
  background: lightcyan;
}

table {
  font-size: 12px !important;
  line-height: 0px !important;
}

.background-color {
  background-color: #00a647 !important;
}
