<div
  bsModal
  #childModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          {{ selectedItem.full_name }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideChildModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-center">
        <img
          class="img-responsive"
          style="max-width: 100%; max-height: 450px"
          src="{{ selectedItem.image_url }}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      {{ title | uppercase }}
      <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
    </mat-card-title>
    <section class="example-section">
      <ng-container *ngIf="zones?.length > 0">
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="Select {{ zonePlaceholder }}"
            name="zone"
            [(ngModel)]="selectedZone"
            (ngModelChange)="loadSurveyors(); zoneChange()"
          >
            <mat-option [value]="zone" *ngFor="let zone of zones">{{
              zone.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <mat-form-field
        *ngIf="regions.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="Select {{ regionPlaceholder }}"
          name="region"
          [(ngModel)]="selectedRegion"
          (ngModelChange)="loadSurveyors()"
        >
          <mat-option [value]="region" *ngFor="let region of regions">{{
            region.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="surveyors.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="Select Merchandisers"
          name="surveyor"
          [(ngModel)]="selectedSurveyor"
          multiple
          #surveyorSelect="ngModel"
          [compareWith]="equals"
        >
          <mat-option disabled="disabled" class="filter-option">
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              (click)="selectAll(surveyorSelect, surveyors)"
            >
              Select All
            </button>
            <button
              mat-raised-button
              color="warn"
              class="ml-1 mat-accent fill text-sm"
              (click)="deselectAll(surveyorSelect)"
            >
              Deselect All
            </button>
          </mat-option>
          <ng-container *ngFor="let surveyor of surveyors">
            <mat-option
              [value]="surveyor"
              *ngIf="surveyor.type != 2 && surveyor.active == 'Y'"
              >{{ surveyor.m_code }} - {{ surveyor.fullName }}</mat-option
            >
          </ng-container>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="example-section">
      <mat-form-field class="example-full-width mr-10-IMP">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker0"
          [(ngModel)]="startDate"
          placeholder="Choose a start date"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker0"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker0></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width mr-10-IMP">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker1"
          [(ngModel)]="endDate"
          placeholder="Choose a end date"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </section>
    <section class="example-section">
      <button
        [disabled]="loadingData || !selectedZone.id"
        mat-raised-button
        color="warn"
        (click)="getPosmImageData()"
      >
        Display
      </button>
    </section>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="tableData.length > 0">
  <div class="container-fluid" *ngIf="tableData.length > 0">
    <div class="row"></div>
    <div class="row js">
      <ng-container *ngFor="let item of tableData; let i = index">
        <mat-card class="col-md-3 example-card card2 ml-3 mt-3">
          <div class="ribbon" style="position: relative" *ngIf="item.image_url">
            <img
              mat-card-image
              class="small"
              src="{{ item.image_url }}"
              width="250"
              height="430"
              alt=""
              (click)="setSelectedItem(item); showChildModal()"
            />
            <div style="position: absolute; top: 0; right: 0">
              <button
                mat-mini-fab
                color="warn"
                aria-label="Example"
                (click)="downloadImage(item.image_url)"
              >
                <mat-icon>download</mat-icon>
              </button>
            </div>
          </div>

          <mat-card-content>
            <table class="table" style="cursor: pointer">
              <tr>
                <!-- test -->
                <th>Code</th>
                <td>{{ item?.m_code }}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ item?.full_name }}</td>
              </tr>
              <tr>
                <th>Shop Name</th>
                <td>{{ item?.remarks }}</td>
              </tr>
              <tr>
                <th>Asset Type</th>
                <td>{{ item?.asset_type }}</td>
              </tr>
              <tr></tr>
              <tr>
                <th>Category</th>
                <td>{{ item?.category }}</td>
              </tr>
              <tr>
                <th>Address</th>
                <td>{{ item?.address }}</td>
              </tr>
              <tr>
                <th>Date</th>
                <td>{{ item?.visit_date }}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</ng-container>
