<mat-card class="mb-20">
  <mat-card-content>
    <section class="example-section">
      <mat-form-field class="example-full-width mr-10-IMP">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker1"
          [(ngModel)]="startDate"
          (ngModelChange)="getDistributionCheckinData()"
          placeholder="Choose a Date"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </section>
  </mat-card-content>
</mat-card>
<div class="row mt-3">
  <div class="col-md-12">
    <mat-card>
      <mat-card-content>
        <div id="map" width="100%" height="500"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
