<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      Manage Planogram
      <i [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
    </mat-card-title>
    <section>


      <mat-form-field
      *ngIf="planogramTypeList.length > 0"
      class="example-margin mr-10-IMP"
    >
      <mat-select
        placeholder="Planogram Type"
        name="planogramtype"
        [(ngModel)]="selectedPlanogramType"
      >
        <mat-option [value]="planogramtype" *ngFor="let planogramtype of planogramTypeList">{{
          planogramtype.planogram_type
        }}</mat-option>
      </mat-select>
    </mat-form-field>


      <mat-form-field
        *ngIf="channelList.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="Select Channel"
          name="channel"
          [(ngModel)]="selectedChannel"
        >
          <ng-container *ngFor="let channel of channelList">
            <mat-option [value]="channel">{{ channel.title }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="assetTypesList.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="Asset Type"
          name="assetType"
          [(ngModel)]="selectedAssetType"
        >
          <mat-option [value]="assetType" *ngFor="let assetType of assetTypesList">{{
            assetType.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
      *ngIf="assetTypesList.length > 0"
      class="example-margin mr-10-IMP"
    >
      <mat-select
        placeholder="Status"
        name="status"
        [(ngModel)]="selectedStatus"
      >
      <mat-option value="Approve">Approve</mat-option>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="Disapprove">Disapprove</mat-option>
      </mat-select>
    </mat-form-field>
      
      <!-- <button
        class="example-margin mr-10-IMP"
        mat-raised-button
        color="primary"
        title="Update VD"
        (click)="showUpdateModal()"
        *ngIf="chillerList.length > 0 && selectedChiller.id"
      >
        Update VD
        <mat-icon>edit</mat-icon>
      </button> -->
    </section>
    <section>
      <button
        class="example-margin mr-10-IMP"
        mat-raised-button
        color="warn"
        (click)="getChillerPlanogramList()"
        [disabled]="!selectedChannel?.id || !selectedAssetType?.id || !selectedPlanogramType?.planogram_type || !selectedStatus"
      >
        Submit
      </button>
      <!-- <button
        class="example-margin mr-10-IMP" 
        mat-raised-button
        color="primary"
        (click)="showUploadModal(selectedImage)"
        [disabled]="!selectedChannel?.id || !selectedAssetType?.id || !selectedPlanogramType?.planogram_type"
      >
        Upload Planogram
        <mat-icon>cloud_upload</mat-icon>
      </button> -->
    </section>
  </mat-card-content>
</mat-card>

<app-update-planograms
  [planogramList]="planogramList"
  [selectedAssetType]="selectedAssetType"
  [selectedChannel]="selectedChannel"
  (openUploadModal)="showUploadModal($event)"
></app-update-planograms>

    <div
      class="row"
      style="margin: 20px"
      *ngIf="!loadingData && planogramList.length == 0"
    >
      <div class="col-md-12 text-center">
        <div class="alert alert-info">
          <p>No Data</p>
        </div>
      </div>
    </div>

<div
  bsModal
  #uploadModal="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false }"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          Upload Planogram
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideUploadModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="uploadForm" enctype="multipart/form-data">
         <div class="modal-body">
         <div style="display: flex; justify-content: space-between;">

            <div class="form-group" style="width: 48%">
              <label for="title">Planogram Name</label>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="title"
              />
              <div
                *ngIf="
                  uploadForm.controls.title.errors &&
                  (uploadForm.controls.title.touched ||
                    uploadForm.controls.title.dirty)
                "
              >
                <mat-error
                  *ngIf="uploadForm.hasError('required', 'title')"
                  class="invalid-feedback"
                >
                  Valid Planogram Name is required.
                </mat-error>
              </div>
            </div>        

            <div class="form-group"  style="width: 48%">
              <label for="title">Select Channel</label>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="channelId"
              />
              <div
                *ngIf="
                  uploadForm.controls.title.errors &&
                  (uploadForm.controls.title.touched ||
                    uploadForm.controls.title.dirty)
                "
              >
                <mat-error
                  *ngIf="uploadForm.hasError('required', 'title')"
                  class="invalid-feedback"
                >
                  Valid Planogram Name is required.
                </mat-error>
              </div>
            </div>                  
         </div>

         <div style="display: flex; justify-content: space-between;">

            <div class="form-group" style="width: 48%">
              <label for="title">Asset Type</label>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="chillerId"
              />
              <div
                *ngIf="
                  uploadForm.controls.title.errors &&
                  (uploadForm.controls.title.touched ||
                    uploadForm.controls.title.dirty)
                "
              >
                <mat-error
                  *ngIf="uploadForm.hasError('required', 'title')"
                  class="invalid-feedback"
                >
                  Valid Planogram Name is required.
                </mat-error>
              </div>
            </div>        

            <div class="form-group" style="width: 48%">
              <label for="title">Shop Name</label>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="selectedShop"
              />
              <div
                *ngIf="
                  uploadForm.controls.title.errors &&
                  (uploadForm.controls.title.touched ||
                    uploadForm.controls.title.dirty)
                "
              >
                <mat-error
                  *ngIf="uploadForm.hasError('required', 'title')"
                  class="invalid-feedback"
                >
                  Valid Planogram Name is required.
                </mat-error>
              </div>
            </div>        
          </div>

       <div style="display: flex;justify-content: space-between; ">
        <div style="margin: 20px; width: 40%;" >
          <img style="border: 3px rgb(79, 77, 77) solid; border-radius: 10px;" [src]="imageSrc" height="150" *ngIf="imageSrc"> 
          <img style="border: 3px rgb(79, 77, 77) solid; border-radius: 10px;" *ngIf="selectedImage" src="{{ip}}{{selectedImage.path}}" height="150" >
          </div>
          <div>
            <button
            (click)="updatePlanogram(uploadForm.value, 'Approve')"
            class="mr-1"
            mat-raised-button
            color="primary"
          >
            Approve
          </button>
          <button
            *ngIf="selectedImage"
            (click)="updatePlanogram(uploadForm.value, 'Disapprove')"
            class="mr-1"
            mat-raised-button
            color="warn"
          >
            Disapprove
          </button>
          </div>
        </div>
          <div class="container mt-5">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>product</th>
                  <th>facing</th>
                  <th>count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of picList">
                  <td>{{ item.product_title }}</td>
                  <td>{{ item.facing }}</td>
                  <td>{{ item.count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>         
      </form>
    </div>
  </div>
</div>