.myinput.large {
    height: 22px;
    width: 22px;
  }
  
  .myinput.large[type="checkbox"]:before {
    width: 20px;
    height: 20px;
  }
  
  .myinput.large[type="checkbox"]:after {
    top: -20px;
    width: 16px;
    height: 16px;
  }

  .product-attr
  {  width: 20%; 
     margin-right: 10px; 
     display: inline-block;
 }

  .mr-10-IMP {
    margin-right: 1% !important;
  }
  .img-item {
    height: 350px !important;
    width: 350px !important;
}

.title {
    background: lightgreen;
    color: black;
    margin-bottom: 0;
    width: 300px;
}


.btn-right{ 
  max-width: 200px !important; 
  float: right; 
  margin: 20px; 
}
#input-file-btn{
  position: relative;
  left: 15px;
  z-index: 1;
}

.input-file-text{
  position: absolute;
  background-color: rgb(120, 120, 156);
  color:white;
  cursor: pointer;
  z-index: 3;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0px;
}
#input-file-btn2{
  position: relative;
  margin-left: 75px;
  left: 10px;
  z-index: 1;
}

.input-file-text2{
  position: absolute;
  background-color: rgb(120, 120, 156);
  color:white;
  cursor: pointer;
  z-index: 3;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0px;
}