
  
  <ng-container *ngIf="merchandiserList.length>0">
  
  
  <div class="container-fluid" *ngIf="merchandiserList.length>0">
    <div class="row">
  
    </div>
    <div class="row js">
        <ng-container *ngFor="let item of merchandiserList;let i=index">
            <mat-card class=" col-md-3 example-card card2 ml-3 mt-3">
             
                <div class="ribbon">
                        <img mat-card-image class="small" src="{{ip}}{{item.shop_image_url}}" width="250" height="430" alt="" (click)="setSelectedItem(item);showChildModal()">
                    
                </div>
  
  
                
                
                <mat-card-content>
                    <table class="table" style="cursor:pointer" >
  
                        <tr>
                            <!-- test -->
                            <th>Merchandiser Code</th>
                            <td>{{item?.merchandiser_code}}</td>
                        </tr>
                        <tr>
                            <th>Merchandiser Name</th>
                            <td>{{item?.merchandiser_name}}</td>
                        </tr>
                        <tr>
                            <th>Shop Id</th>
                            <td>{{item?.merchandiser_name}}</td>
                        </tr>
                        <tr>
                          <th>Store Name</th>
                          <td (click)="gotoNewPage(item)" style="color:blue;cursor:pointer">{{item?.shop_title}}</td>
                      </tr>
                      <tr>
                        <th>Adress</th>
                        <td>{{item?.address}}</td>
                    </tr>
                    <tr>
                        <th>Channel</th>
                        <td>{{item?.channel_title}}</td>
                    </tr>
                    <tr>
                        <th>Vist Date</th>
                        <td>{{item?.visit_date}}</td>
                    </tr>
                    <tr>
                        <th>Shop Remark</th>
                        <td>{{item?.description}}</td>
                    </tr>
                       
                       
                    </table>
                   
                </mat-card-content>
                
            </mat-card>
        </ng-container>
    </div>
  </div>
  </ng-container>
  
  
  <div class="row " *ngIf="loading">
      <div class="col-md-12 text-center">
          <div class="img-center">
              <img src="assets/images/basicloader.gif" alt="" srcset="">
          </div>
      </div>
  </div>
  
  <div class="row " *ngIf="!loading && merchandiserList.length==0">
      <div class="col-md-12 text-center">
  
          <div class="alert alert-info">
              <p>No Data Found</p>
          </div>
          <!-- <div class="img-center">
              <img src="assets/images/basicloader.gif" alt="" srcset="">
          </div> -->
      </div>
  </div>
  
  
  
  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 id="dialog-child-name" class="modal-title pull-left">{{selectedItem.merchandiser_name}}</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
              </div>
    
              <div class="modal-body text-center">
                  <img src="{{ip}}{{selectedItem.shop_image_url}}" alt="">
              </div>
          </div>
      </div>
    </div>