<div class="row justify-content-center">
  <ng-container *ngFor="let img of planogramList">
    <div class="col-md-4 text-center">
      <label class="title" for="title">
        <input type="checkbox" [checked]="img.active == 'Y'"
          (change)="assignPlanograms(checked1, img)"
          data-toggle="toggle" data-onstyle="light" #checked1
        >
        {{img.title}}
      </label>
      <img src="{{ip}}{{img.path}}" class="img-thumbnail img-item" (click)="onImageClick(img)">
    </div>
  </ng-container>
</div>
