.img-item {
    height: 500px !important;
    width: 90% !important;
}

table {
    font-size: 15px !important;
    line-height: 0px !important
}

.title {
    background: lightgreen;
    color: black;
    margin-bottom: 0;
    width: 90%;
}

table>thead {
    background: lightgray !important;
}

.imageDetails {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
  }
  