<div id="sidebar">
  <mat-nav-list>
    <ng-container *ngFor="let item of menuList; let i = index">
      <ng-container *ngIf="!item.subMenu">
        <a
          mat-list-item
          routerLink="/dashboard/{{ item.menuList[0].link }}"
          [routerLinkActive]="'link-active'"
        >
          <mat-icon class="sidenav-icon">dashboard</mat-icon>
          {{ item.header | translate }}
        </a>
      </ng-container>

      <ng-container *ngIf="item.subMenu">
        <div class="nested-menu">
          <a
            mat-list-item
            (click)="addExpandClass(item.header)"
            (click)="getIndex(i)"
          >
            <mat-icon class="sidenav-icon">add</mat-icon>
            {{ item.header | translate }}
          </a>

          <ul class="nested submenu" [class.expand]="showMenu == item.header">
            <li *ngFor="let item2 of item.menuList">
              <ng-container *ngIf="item2.reportId != -1; else elseBlock">
                <a
                  [routerLinkActive]="'link-active'"
                  routerLink="/dashboard/{{ item2.link }}/{{ item2.reportId }}"
                  ><span>{{ item2.lable | translate }}</span></a
                >
              </ng-container>
              <ng-template #elseBlock>
                <ng-container *ngIf="item2.link == 'tableau'; else routeUrl">
                  <a
                    [routerLinkActive]="'link-active'"
                    routerLink="/{{ item2.link }}"
                    [queryParams]="{ link: item2.tableauLink }"
                    ><span>{{ item2.lable | translate }}</span></a
                  >
                </ng-container>
                <ng-template #routeUrl>
                  <a
                    [routerLinkActive]="'link-active'"
                    routerLink="/dashboard/{{ item2.link }}"
                    ><span>{{ item2.lable | translate }}</span></a
                  >
                </ng-template>
              </ng-template>
            </li>

            <li></li>
          </ul>
        </div>
      </ng-container>
    </ng-container>
  </mat-nav-list>
</div>
